{
  "presets": [
    // [
    //   "@babel/preset-env",
    //   {
    //     "useBuiltIns": "usage",
    //     "corejs": 3
    //   }
    // ],
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}